name: Security audit

permissions:
    contents: read
on:
    schedule:
        # Runs at 00:00 UTC everyday
        - cron: "0 0 * * *"
    push:
        paths:
            - "**/Cargo.toml"
            - "**/Cargo.lock"
concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true
jobs:
    security_audit:
        runs-on: ubuntu-latest
        name: rustsec
        permissions:
            issues: write # to open issues for detected vulns
            checks: write # to create checks for detected vulns
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
              with:
                  submodules: true
                  persist-credentials: false
            - uses: rustsec/audit-check@69366f33c96575abad1ee0dba8212993eecbe998 # tag=v2.0.0
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
